#welcome{
    background:linear-gradient( #edd2fa 0%, 
#dcfaf9 100%);
    z-index: 9;
}
body{
    text-align: center;
 margin: 0;
   
}

img{
    width:150px;
    border-radius: 60%;
    margin-bottom: 50px;

}

h1{
    font-size:40px;
    font-family: monospace;
    font-weight: 100;
    text-shadow: 5px 5px #f7f3d0;
}

#about{
    font-size: 18px;
   text-align: center; 
    padding: 20px;
}

.menu {
    list-style: none;
    font-family: fantasy;
    float:right;
    top:10px;
    right:30px;
    cursor: pointer;
    color:cadetblue;
    z-index: 10;
}

.links{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    display: inline;
}
.links:hover{
    background-color: lavenderblush;
}

.id{
    font-family: 'Big Shoulders Display', cursive;
}

#works{
    font-size:50px;
    font-family: fantasy;
    line-height: 1.2px;
    background-color: lavender;
}
#p{
    font-size:15px;
}
.button{
    background-color: floralwhite;
    border:none;
    color: dimgrey;
    text-decoration: none;
    text-align: center;
    padding: 15px 32px;
    display: inline-block;
    font-size:15px;
}

#video{
    background-color: antiquewhite;
}

#img{
    height: 300px;
    width:300px;
    border-radius: 0%;
    transition: transform .2s;
    border:10px solid #AAAAAA; 
    
}
#img:hover{
    transform: scale(0.9);
}